{% extends 'base.html' %} 
{% block title %} Add Partners {% endblock %} 
{% block content %}
<form action="/new-client" method="post">
	<div class="mb-3">
		<label for="name" class="form-label">Name</label>
		<input type="text" class="form-control" id="name" name="name" />
	</div>
	<div class="mb-3">
		<label for="email" class="form-label">Email address</label>
		<input type="email" class="form-control" id="email" name="email" />
	</div>
	<div class="mb-3">
		<label for="phone" class="form-label">Phone</label>
		<input type="number" class="form-control" id="phone" name="phone" />
	</div>
	<div class="mb-3">
		<label for="addreess" class="form-label">Address</label>
		<textarea class="form-control" id="addreess" rows="3" name="address"></textarea>
	</div>
	<button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}
